
.container {
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    width: 100vw;
    background-color: rgb(31, 31, 31);
    color: aliceblue;
}

.input {
    height: 2rem;
    width: 50%;
    border-radius: .5rem;
    text-align: center;
}

.button {
    max-height: 2rem;
    max-width: fit-content;
    box-shadow: 0px 0px 0px 5px rgb(32, 32, 32);
    // background-color: rgb(0, 153, 255);
    background-color: rgb(73, 73, 73);
    border-radius: .5rem;
    height:  2rem;
    width: 5rem;
    color: rgb(180, 180, 180);
    cursor: pointer;
    font-weight: 700;
}