
.dialog {
    padding: 0;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    position: relative;
    border: none;

    h1 {
        color: rgb(173, 173, 173);
    }

    .closeIcon {
        position: absolute;
        color: #bdbdbd;
        z-index: 999;
        right: .5rem;
        top: .5rem;
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
    }

    .closeIcon:hover {
        color: #e0e0e0;
    }
}