html,
a,
article,
b,
body,
button,
dd,
div,
dl,
dt,
em,
h1,
h2,
h3,
h4,
h5,
h6,
i,
img,
input,
li,
p,
section,
span,
strong,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html {
  font-size: 2vw;
}
body {
  background: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-family: "Roboto", sans-serif;
  /* 或者根据需要使用 100 到 900 之间的数值 */
  // font-weight: 400;  
  /* 或者根据需要使用 75% 到 125% 之间的数值 */
  font-stretch: 100%; 
}
* {
  box-sizing: border-box;
}

// scroll 滚动条
*::-webkit-scrollbar {
  width: .3rem;  /* 竖直滚动条宽度 */  
  height: .3rem;   /* 水平滚动条高度 */
  border-radius: .2rem;
}

/* 滚动条轨道（背景） */
*::-webkit-scrollbar-track {
  background: #888;  
  border-radius: .5rem;
}

/* 滚动条滑块 */
*::-webkit-scrollbar-thumb {
  background: rgb(218, 218, 218);
  border-radius: .5rem;
}

/* 鼠标悬停时滑块颜色 */
// *::-webkit-scrollbar-thumb:hover {
//     background-color: rgb(59, 59, 59);
// }
