

.select {
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 0rem  0.5rem ;
    min-height: 2rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 0px 5px rgb(110, 110, 110);
    background-color: rgb(97, 97, 97);
    text-align: center;
    color: rgb(218, 218, 218);
}