.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: rgb(56, 56, 56);
    box-shadow: 0px 0px 0px 5px rgb(59, 59, 59);
    border-radius: .2rem;
    /* 使用 backdrop-filter 来模糊背景 */
    backdrop-filter: blur(10px);
    justify-content: space-around;
    
    h1 {
        color: rgb(173, 173, 173);
    }

    label {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: .5rem;
        width: 80%;
        span {
            color: rgb(114, 114, 114);
        }
    }
}


